<!DOCTYPE html>
<html lang="es" ng-app="angularApp">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Con esta aplicación web podras realizar los calculos necesarios para una instalación fotovoltáica de autoconsumo"/>
	<meta name="keywords" content="fotovoltaica, aislada, autoconsumo, instalación, eléctrica, placas solares"/>
	<meta name="author" content="Jonay Zevenzui Castro Suárez"/>
	<meta name="copyright" content="Jonay Zevenzui Castro Suárez"/>
	<meta name="robots" content="index"/>
	<title>Calculadora Fotovoltáica</title>
	<!-- HOJAS DE ESTILO -->
	<link rel="stylesheet" href="styles/index.css">
	<link rel="stylesheet" href="styles/table.css">
	<link rel="stylesheet" href="styles/media-querys.css">
	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<!-- Fuentes google -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script src="angular/app.js"></script>
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="jquery/index-jquery.js"></script>
	<script src="jquery/calculos-jquery.js"></script>
</head>
<body  ng-controller="dataController" id="top-anchor">
	
    <div id="header" class="no-print">
		<h1 id="header-title">Calculadora Fotovoltáica</h1>
		<button id="print-btn" ng-click="printProyect()"><i class="fas fa-print accion-btn"></i></button>
	</div>
	<div id="main-container">
		<div id="container-visible">
			<div ng-include="'secciones/datos-proyect.html'"></div>
			<div ng-include="'secciones/tabla-consumos.html'"></div>
			<div id="container-parametros-instalacion" ng-include="'secciones/parametros-instalacion.html'"></div>
			<button id="btn-top"><i class="fas fa-arrow-up"></i></button>
			<div id="footer" class="no-print">
				<p> <a href="mailto:zeven8540@gmail.com">Jonay Z. Castro Suárez </a><span>|</span> Copyright&#169; Junio 2020 Calculadora Fotovoltáica</p>
			</div>
    	</div>
		<div id="container-oculto" class="no-print" ng-click="hideSection($event)">
			<div id="container-title-section">
				<h2 id="title-section"></h2>
			</div>
			<div class="container-section no-print" ng-include="'secciones/energia-total.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/rendimiento.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/energia.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/potencia-pico.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/num-paneles-serie.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/num-paneles-paralelo.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/num-paneles-totales.html'"></div>
			<div class="conatiner-section no-print" ng-include="'secciones/capacidad-util-bat.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/capacidad-nom-bat.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/capacidad-bat.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/numero-bat-serie.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/numero-bat-paralelo.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/numero-bat-totales.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/tension-regulador.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/intensidad-regulador.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/intensidad-general.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/intensidad-consumo-inversor.html'"></div>
			<div class="container-section no-print" ng-include="'secciones/potencia-inversor.html'"></div>   
		</div>
	</div>
</body>
</html>