<h2 class="title-section">Datos de la instalación <i class="fas fa-caret-up"></i></h2>
<div class="container-consumos seccion">
    <table id="tabla-consumos">
    <caption id="title-table">Consumos</caption>
    <thead class="head-table-consum">
         <tr>
            <th>Receptor</th>
            <th>Tensión (V)</th>
            <th>Corriente</th>
            <th>Potencia (W)</th>
            <th>Tiempo (h)</th>
            <th>Consumo (Wh)</th>
        </tr>
    </thead>
    <tbody id="body-table-consum">
        <tr class="table-consum-row" id="consum-row-1">
            <td class="column">
                <input type="text" name="nReceptor" class="datosConsum nReceptor" placeholder="Receptor">
            </td>
            <td class="column">
                <input type="number" class="datosConsum corriente" name="cReceptor" min="0" step="0.1" placeholder="0">
            </td>
            <td class="column">
                <select name="tCorriente" class="datosConsum tCorriente">
                    <option value="ac" selected>CA</option>
                    <option value="dc">CC</option>
                </select>
            </td>
            <td class="column">
                <input type="number" class="datosConsum potencia" name="pReceptor" min="0" step="0.1" placeholder="0">
            </td>
            <td class="column">
                <input type="number" class="datosConsum horas" name="hReceptor" min="0" step="0.1" placeholder="0">
            </td>
            <td class="column">
                <input type="number" class="datosConsum energia" name="eReceptor" min="0" step="0.1" placeholder="0">
            </td>
        </tr>
    </tbody>
    </table>
    <div id="container-btn-rows" class="no-print">
        <button id="add-row" class="btn-ctrl-rows" title="Añadir fila">+</button>
        <button id="del-row" class="btn-ctrl-rows" title="Eliminar fila">-</button><br>
    </div>
    <div id="container-consumos-totales">
        <div class="col">
            <p id="total-energi" class="total-item">Consumo total (CC+CA) <span id="tConsum">0</span> Wh</p>
            <p id="total-dc" class="total-item">Consumo CC <span id="tDcValue">0</span> Wh</p>
            <p id="total-ac" class="total-item">Consumo CA <span id="tAcValue">0</span> Wh</p>
            <p id="total-potencia" class="total-item">Potencia total (CC+CA)<span id="tPoten">0</span> W</p>
            <p id="total-potencia-cc" class="total-item">Potencia CC <span id="tPotenCC">0</span> W</p>
            <p id="capa-bat-nom-correc" class="total-item">Capacidad Nom. Bat. Temp.&lt;20º <span id="tCapNomCorrecValue">0</span> Wh</p>
        </div>
        <div class="col">
            <p id="total-potencia-ca" class="total-item">Potencia CA <span id="tPotenCA">0</span> W</p>
            <p id="total-hsp" class="total-item"><a href="" ng-click="goToAnchor('pp-anchor')">HSP</a> <span id="tHspValue">4</span> h</p>
            <p id="temp-media" class="total-item"><a href="" ng-click="goToAnchor('temp-anchor')"> Temperatura media invierno </a><span id="tMedValue">20</span> ºC</p>
            <p id="total-tns" class="total-item">Tensión Nominal Sis. <span id="tTnsValue">12</span> V</p>
            <p id="tension-regulador-totales" class="total-item"><a href="" ng-click="goToAnchor('vr-anchor')"> Tensión Regulador</a> <span id="tNomRegValue">12</span> V</p>
        </div>
        
       
    </div>
</div>