<div ng-controller="dataController">
    <div class="container-section" ng-include="'secciones/datos-proyect.html'"></div>
    <div class="container-section" ng-include="'secciones/datos-consumo.html'"></div>
    <div class="container-section" ng-include="'secciones/energia-total.html'"></div>
    <div class="container-section" ng-include="'secciones/rendimiento.html'"></div>
    <div class="container-section" ng-include="'secciones/energia.html'"></div>
    <div class="container-section" ng-include="'secciones/potencia-pico.html'"></div>
    <div class="container-section" ng-include="'secciones/num-paneles-serie.html'"></div>
    <div class="container-section" ng-include="'secciones/num-paneles-paralelo.html'"></div>
    <div class="container-section" ng-include="'secciones/num-paneles-totales.html'"></div>
    <div class="conatiner-section" ng-include="'secciones/capacidad-util-bat.html'"></div>
    <div class="container-section" ng-include="'secciones/capacidad-nom-bat.html'"></div>
    <div class="container-section" ng-include="'secciones/capacidad-bat.html'"></div>
    <div class="container-section" ng-include="'secciones/numero-bat-serie.html'"></div>
    <div class="container-section" ng-include="'secciones/numero-bat-paralelo.html'"></div>
    <div class="container-section" ng-include="'secciones/numero-bat-totales.html'"></div>
    <div class="container-section" ng-include="'secciones/tension-regulador.html'"></div>
    <div class="container-section" ng-include="'secciones/intensidad-regulador.html'"></div>
    <div class="container-section" ng-include="'secciones/intensidad-general.html'"></div>
    <div class="container-section" ng-include="'secciones/intensidad-consumo-inversor.html'"></div>
</div>
    