<aside ng-controller="dataController">
    <h3 class="title-totales">Totales</h3>
    <!-- <div id="container-consumos-totales">
        <p id="total-energi" class="total-item">Consumo total (CC+CA) <span id="tConsum">0</span> Wh</p>
        <p id="total-dc" class="total-item">Consumo CC <span id="tDcValue">0</span> Wh</p>
        <p id="total-ac" class="total-item">Consumo CA <span id="tAcValue">0</span> Wh</p>
        <p id="total-potencia" class="total-item">Potencia total (CC+CA) <span id="tPoten">0</span> W</p>
        <p id="total-potencia-cc" class="total-item">Potencia CC <span id="tPotenCC">0</span> W</p>
        <p id="total-potencia-ca" class="total-item">Potencia CA <span id="tPotenCA">0</span> W</p>
    </div> -->
   <!--  <div id="container-energia-total">
        <p id="energi-total-necesaria" class="total-item">Energía <span id="eToNeValue">0</span> Wh</p>
    </div> -->
    <!-- <div id="container-rendimiento-total">
        <p id="total-rendimiento" class="total-item">Rendimiento <span id="tRValue">0</span></p>
    </div> -->
    <!-- <div id="container-hsp-total">
        <p id="total-hsp" class="total-item">HSP <span id="tHspValue">4</span> h</p>
    </div> -->
    <!-- <div id="container-pPico-total">
        <p id="total-rendimiento" class="total-item">Potencia Pico <span id="tPpicoValue">0</span> W</p>
    </div> -->
    <!-- <div id="container-tns-total">
        <p id="total-tns" class="total-item">Tensión Nominal Sis. <span id="tTnsValue">12</span> V</p>
    </div> -->
    <!-- <div id="container-sPanel-total">
        <p id="total-panel-serie" class="total-item">Num. Panel Serie <span id="tPsValue">0</span></p>
    </div> -->
    <!-- <div id="container-pPanel-total">
        <p id="total-panel-para" class="total-item">Num. Panel Paralelo <span id="tPpValue">0</span></p>
    </div> -->
    <!-- <div id="container-tPanel-total">
        <p id="panel-totales" class="total-item">Num. Total de Paneles <span id="tPanelValue">0</span></p>
    </div> -->
    <!-- <div id="container-capa-util-bat">
        <p id="capa-bat-util" class="total-item">Capacidad Util Bat. <span id="tCapUtilValue">0</span> Wh</p>
    </div> -->
    <!-- <div id="container-capa-nom-bat">
        <p id="capa-bat-nom" class="total-item">Capacidad Nom. Bat. <span id="tCapNomValue">0</span> Wh</p>
    </div> -->
    <div id="container-capa-nom-bat-correc" class="oculto">
        <p id="capa-bat-nom-correc" class="total-item">Capacidad Nom. Bat. Temp.&lt;20º <span id="tCapNomCorrecValue">0</span> Wh</p>
    </div>
    <!-- <div id="container-capacidad-bateria">
        <p id="capacidad-bateria" class="total-item">Capacidad bateria <span id="tCBatValue">0</span> Ah</p>
    </div> -->
    <!-- <div id="container-bat-serie">
        <p id="baterias-serie" class="total-item">Num. bat. serie <span id="tBatSerieValue">0</span></p>
    </div> -->
    <!-- <div id="container-bat-paralelo">
        <p id="baterias-paralelo" class="total-item">Num. bat. paralelo <span id="tBatParaValue">0</span></p>
    </div> -->
    <!-- <div id="container-bat-total">
        <p id="baterias-totales" class="total-item">Num. bat. totales <span id="tBatTotalValue">0</span></p>
    </div> -->
    <!-- <div id="container-tension-regulador-total">
        <p id="tension-regulador-totales" class="total-item">Tensión Regulador <span id="tNomRegValue">12</span> V</p>
    </div> -->
    <!-- <div id="container-intensidad-general">
        <p id="tension-intensidad-general" class="total-item">Intensidad General <span id="tIntenGenValue">0</span> A</p>
    </div> -->
    <!-- <div id="container-inten-consum-inver-total">
        <p id="intensidad-inversor-totales" class="total-item">I. Consum. Inversor <span id="iConInvValue">0</span> A</p>
    </div> -->
    <!-- <div id="container-inten-consum-inver-total">
        <p id="potencia-inversor-totales" class="total-item">Potencia Entrada Inversor <span id="pInvValue">0</span> W</p>
    </div> -->
</aside>