:root{
	/*fuentes*/
	--font-principal:'Roboto', sans-serif;
	/*colores*/
	--background-color-body:#f0f9ffc0;
	--background-color-aside:#A7DCF0;
	--btn-color: #F88D1B;
	--btn-hover-color: #E68A00;
	--second-font-color: #F6F8EF;
	--section-title-back-color: #433E45;
	--section-title-border-color: #EBE4D1;
	--table-head-color: #4CAF50;
	--border-color: #373E46;
	--input-border-color:#FF4081;
}
body{
	font-family: var(--font-principal);
	font-size: 1em;
	box-sizing: border-box;
}
#main-container{
	width: 95%;
	margin: auto;
}
#container-header{
	height: 200px;
}
#menu{
	padding: 10px;
}
#principal-title{
	font-size: 4rem;
}
#btn-top{
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	cursor: pointer;
}
#icon-top{
	pointer-events: none;
}
.btn-menu{
	margin-bottom: 10px;
}
.title-totales{
	background-color: var(--section-title-back-color);
	color: var(--second-font-color);
	padding: 10px;
	margin-top: 0;
}
#container-consumos-totales .col{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.total-item{
	background-color:var(--background-color-aside);
	flex: 1;
	margin: 10px;
	text-align: center;
	padding: 20px;
}
.container-section{
	width: 100%;
}
.title-section{
	background-color: var(--section-title-back-color);
	color: var(--second-font-color);
	width: 100%;
	padding: 10px;
}
.fas{
	cursor: pointer;
}
.formula{
	margin-left: 20px;
}
.container-formula{
	margin-left: 40px;
}
.clientDatIn{
	margin-bottom: 20px;
	width: 100%;
}
.oculto{
	display: none;
}
.btn{
	cursor: pointer;
}
.only-print{
	display: none;
}

