:root{
	/*fuentes*/
	--roboto-font:'Roboto', sans-serif;
	/*colores*/
	--grey-light:#f0f9ffc0;
	--blue-ligth:#A7DCF0;
	--btn-color: #F88D1B;
	--btn-hover-color: #E68A00;
	--second-font-color: #F6F8EF;
	--grey-dark: #433E45;
	--font-light-color: #EBE4D1;
	--table-head-color: #4CAF50;
	--border-color: #373E46;
	--input-border-color:#FF4081;
	--color-destello: #ec82a5;
}
.only-print{
	display: none;
}
body{
	box-sizing: border-box;
	font-size: 1em;
	font-family: var(--roboto-font);
}
#header{
	height: 100px;
	position: relative;
}
#header-title{
	font-size: 3rem;
}
#header #print-btn{
	position: absolute;
	bottom: 10px;
	right: 30px;
	width: 40px;
    height:40px;
	font-size: 1.2em;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .25s;
}
#header #print-btn i{
	pointer-events: none;
}
#main-container{
	position: relative;
}
#container-visible{
	position: absolute;
}
#form-datos-cliente{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 90vw;
	margin: auto;
}
#btn-reset-clientDatIn{
	width: 80px;
	height: 52px;
	cursor: pointer;
	background-color: var(--btn-color);
	border-radius: 5px;
	border: none;
	transition: all .25s;
	margin-bottom: 20px;
}
#btn-reset-clientDatIn:hover{
	transform: translate(-2px,-2px);
}
#container-datos-cliente .clientDatIn{
	flex: 1;
	margin: 20px;
}
#container-parametros{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.title-dark,.summary-title{
	background-color: var(--grey-dark);
	color: var(--font-light-color);
	padding: 5px;
}
.slide-seccion{
	margin-bottom: 5px;
	transition: all .25s;
	cursor: pointer;
}
.slide-seccion[open] .summary-title ~ * {
	animation: sweep .25s ease-in-out;
}
@keyframes sweep {
	0%    {opacity: 0;}
	100%  {opacity: 1;}
}
.summary-title{
	font-size: 1.5rem;
}
#container-parametros fieldset{
	flex: auto;
	margin: 10px;
}
.total-item{
	background-color: var(--blue-ligth);
	padding: 5px;
	cursor: pointer;
}

#container-oculto{
	position: fixed;
	top:0;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0);
	background-color: rgba(1, 1, 1, 0.7);
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	transition: all .25s;
}
.container-section{
	width: 80%;
	margin: auto;
	position: relative;
}
.seccion{
	position: relative;
	margin-top: 2vh;
	background-color: white;
	padding: 0 10px 10px 10px;
	border-radius: 10px;
	height: 70vh;
	overflow-y: auto;
	display: none;
	pointer-events: none;
}
#container-title-section{
	text-align: center;
}
#title-section{
	background-color: rgba(1, 1, 1, 0);
	color: white;
	padding: 0;
	margin-bottom: 0;
}
#btn-hide-section{
	border-radius: 100%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: rgba(1, 1, 1, 0);
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
}

.container-formula{
	background-color: var(--blue-ligth);
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid black;
}
.formula{
	margin-left: 5vw;
	transform: scale(1.5);
	
}
.seccion input, #container-datos-cliente .clientDatIn{
	margin-right: 20px;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--input-border-color);
	font-size: 1.5rem;
}
.seccion input:focus, #container-datos-cliente .clientDatIn:focus{
	background-color: var(--border-color);
	color: var(--font-light-color);
}
.seccion input:focus::placeholder, #container-datos-cliente .clientDatIn:focus::placeholder{
	color: var(--font-light-color);
}
.seccion input::placeholder, #container-datos-cliente .clientDatIn::placeholder{
	color: var(--grey-dark);
}

@keyframes destello {
	from {background-color: var(--background-color-body);}
	to {background-color: var(--color-destello);}
}
.destellear{
	animation-name: destello;
	animation-timing-function: ease;
	animation-duration: 1s;
	animation-iteration-count: 3;
}
#btn-top{
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background-color: var(--btn-color);
	border-radius: 5px;
	border: none;
	transition: all .5s ease;
	opacity: 0;
}
#footer{
	font-size: .9rem;
	text-align: right;
	padding-bottom: 20px;
}