@media print
{
    .only-print{
        display: block;
    }
    .clientDatIn{
        border:none;
        font-size: 1.5rem;
    }
    .clientDatIn::placeholder{
        opacity: 0;
    }
    .no-print, .fas{
        display: none;
    }
    a:link, a:active, a:visited{
        text-decoration: none;
        color: black;
    }
    .title-section{
        color: black;
    }
    table, td, th{
        border: 1px solid black;
        border-collapse: collapse;
    }
    #tabla-consumos .datosConsum::placeholder{
        opacity: 0;
    }
    .container-datos-cliente{
        display: flex;
        justify-content: space-around;
    }
    
}