@media screen and (max-device-width:800px){

    body{
        font-size: 1.5em;
    }
    #header #print-btn,.btn-ctrl-rows, #btn-top{
        width: 60px;
        height: 60px;
    }
    #container-parametros, .summary-title, .seccion, .seccion input, #container-datos-cliente .clientDatIn{
        font-size: 2rem;
    }
    #tabla-consumos{
        font-size: 1.5rem;
    }
    .formula{
        transform: scale(2);
    }
}

@media print
{
    .only-print{
        display: block;
    }
    .title-dark, .summary-title{
        color: black;
        background-color: white;
    }
    #container-datos-cliente .clientDatIn{
        border-bottom: 2px solid black;
    }
    .no-print, .fas{
        display: none;
    }
    a:link, a:active, a:visited{
        text-decoration: none;
        color: black;
    }
    .title-section{
        color: black;
    }
    table, td, th{
        border: 1px solid black;
        border-collapse: collapse;
        background-color: white;
    }
    #tabla-consumos .datosConsum::placeholder{
        opacity: 0;
        
    }
    #container-datos-cliente .clientDatIn::placeholder{
        opacity: 0;
    }
    #container-parametros-instalacion{
        break-inside: avoid;
    }
    #container-parametros fieldset{
        flex: 1;
    }
    .total-item{
        background-color: white;
    }
    #container-datos-cliente{
        display: flex;
        justify-content: space-around;
        break-inside: avoid;
    }
    
}